.dropSection{
    max-height: 40vh;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(170, 170, 170);
    outline: 1px solid rgb(170, 170, 170);
    outline-offset: 8px;
}

.dropSection input[type=file] {
    position: absolute;
    height: 40vh;
    width: 80vw;
    top: 4rem;
    left: 6rem;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
